body{
    background: #686868;
    font-family: 'Urbanist', sans-serif;
    margin: 0px;
    background-image: url("../assets/bg2.png");
    background-size: 90%;
    background-position: top;
    z-index: 0;
    background-blend-mode: multiply;
}
header{
    background: rgb(219, 75, 8);
    margin: 0px;
    margin-bottom: 40px;
    display: grid;
    color: #fff;
}
.contentbody{
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
audio {
    width: 360px;
    height: 36px;
    background: rgb(241,243,244);
    border-radius: 0px 0px 9px 9px;
}
.audio{
    max-width: min-content;
    margin: 8px;
    border-radius: 10px;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.imgbgcard{
    padding: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 9px;
}
.filter {
    z-index: 3;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.397);
    
}

h1,h2{
    display:flex;
    font-size: 20px;
    margin: 2px;
    padding: 0px 8px;
    color:#ebebeb;
    border-radius: 20px;
}
h3,h4{
    display:flex;
    font-size: 15px;
    margin: 2px;
    padding: 8px;
    color:#ebebeb;
    border-radius: 20px;
}
h5,h6{
    display:flex;
    font-size: 12px;
    margin: 2px;
    padding: 8px;
    color:#ebebeb;
    border-radius: 20px;
}


.logo{
    font-size: 30px;
    padding: 5px;
}
.contentnavbar{
    display: flex;
    align-items: center;
}
.navbar{
    display: inline-flex;
    justify-content: space-around;
}
ul{
    text-decoration: none;
    list-style: none;
    display: flex;
}
li{
    padding: 5px;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: #fff;
}
